HAPE_GITLAB_TOKEN=""
HAPE_GITLAB_DOMAIN=""
HAPE_MARIADB_HOST="127.0.0.1"
HAPE_MARIADB_USERNAME="hape_user"
HAPE_MARIADB_PASSWORD="hape_password"
HAPE_MARIADB_DATABASE="hape_db"
HAPE_AWS_ACCESS_KEY_ID=""
HAPE_AWS_SECRET_ACCESS_KEY=""
HAPE_AWS_DEFAULT_REGION=""
HAPE_LOG_LEVEL="WARNING"
